<section>
    <%=attachment_image_tag @user, :profle_image,size:"100x100", fallback: "no_image.png"%>
    <p>name</p>
    <p><%=@user.name%></p>
    <p>メールアドレス</p>
    <p><%=@user.email%></p>
    <p>サイト数</p>
    <p><%=@user.sites.count%></p>
    <p>お気に入り数</p>
    <p><%=@user.likes.count%></p>
</section>
<section class = "form_area">
    <%=form_for(@site) do |f| %>
        <div class = "form_item">
            <!-- <label for = "name">サイト名</label> -->
            <%=f.text_field :site_name , placeholder:"サイト名"%>
        </div>
        <div class = "form_item">
            <!-- <label for = "discription">サイトの説明</label> -->
            <%=f.text_area :discription, placeholder:"お気に入りのニュースサイト" %>
        </div>
        <div class = "form_item">
            <!-- <label for = "url">サイトのURL</label> -->
            <%=f.text_field :site_url, placeholder:"htppl//example.com" %>
        </div>
        <%=f.submit "Create Site List" %>
    <% end %>
    <% if @site.errors.any? %>
        <div>
            <p><%=@site.errors.count%>件のエラーが発生しました。</p>
            <% @site.errors.full_messages.each do |message|%>
              <p><%=message%></p>
            <% end %>
        </div>
    <% end %>
    <%=link_to "back", root_path%>
</section>