<!DOCTYPE html>
<html>
  <head>
    <title>SiteBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="main_box">
    <header id="header" class="">
      <% if user_signed_in?%>
        <ul>
          <li><p>ログイン中</p></li>
          <li><p><%=link_to "ログアウト",  destroy_user_session_path, method: :delete, data: {confirm: "Log outしますか？"}%></p></li>
          <li><p><%=link_to "ホーム", root_path%></p></li>
          <li><p><%=link_to "いいね一覧", user_path(@user.id)%></p></li>
          <li><p><%=link_to "人気のURL", likes_index_path%></p></li>
          <li><p><%=link_to "プロフィール編集",  edit_user_path(@user)%></p></li>
        </ul>
      <%else%>
        <ul>
          <li><p>ログインしていません</p></li>
          <li><p><%=link_to "新規登録",  new_user_registration_path%></p></li>
          <li><p><%=link_to "ログイン", new_user_session_path%></p></li>
        </ul>
      <% end %>
    </header><!-- /header -->
    <%= yield %>
    </div>
  </body>
</html>
